.border {
    border: solid 5px black;
    height: 100vh;
    margin: 1rem;
}

.ctn {
    background-color: black;


}

.titre {
    text-align: left;
    color: white;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
}